.container{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.schedule-button-box{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 14.8rem;
    height: 2.5rem;
    
    background: linear-gradient(90deg, #FBF7EE, #FFED8F) padding-box, 
                linear-gradient(90deg, #E5A82F, #F8E89B, #E5A82F) border-box;
    border: 0.15rem solid transparent;
    border-radius: 25px;

    font-family: 'Poppins-Bold';
    font-size: 1rem;
    color: #A255BB;
}

.schedule-button-box:hover {
    background: linear-gradient(90deg, #DBACEA, #A869D1) padding-box, 
                linear-gradient(90deg, #E5A82F, #F8E89B, #E5A82F) border-box;
    color: #FCF5D6;
}